@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/************************
        default
*************************/

body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.cf:after{
    content: "";
    display: block;
    clear: both;
}

.inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.section {
    text-align:center;
    
}

/************************
        header
*************************/

header {
    display: none;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    
    background: rgba(0, 0, 0, 0.6);
    text-align: left;
}

/***** logo *****/
header h1 {
    width: 100px;
    height: 70px;
    margin-left: 30px;
    line-height: 70px;
    float: left;
    font-size: 0;
}

header h1 a {
    display: inline-block;
    vertical-align: middle;
}

header h1 a img {
    display: block;
    width: 70%;
}




/***** nav *****/
.gnb {
    float: right;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.gnb li {
    width: 150px;
    float: left;
}
.gnb li.active a {
    color: #f28705;
}

.gnb li a {
    font-weight: bold;
    color: #fff;
}


/***** panel *****/
header .openBtn {
    display: none;
}

header .sidenav {
    display: none;
}


/************************
        intro
*************************/

.layer h1 {
    font-size: 5em;
    font-family: 나눔손글씨 붓;
    color: #fff;
    margin:0;
    padding:0;
}

.layer p {
    font-size: 2em;
    color: #fff;
    margin-top: 50px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

/* hiding video control */
video::-webkit-media-controls {
  display:none !important;
}


#section0 .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;

    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#section0 {
    overflow: hidden;
}


#infoMenu li a {
    color: #fff;
}





/************************
        profile
*************************/

/***** title *****/
.title {
    height: 240px;
    border-bottom: 1px solid #b2b2b2;
    padding-top: 100px;
    box-sizing: border-box;
}

.title h1 {
    color: #f28705;
    font-weight: 500;
}

.title p {
    margin-top: 20px;
    color: #727878;
    font-size: 20px;
}

/***** contents *****/
#section1 .contents {
    padding-top: 50px;
    box-sizing: border-box;
    color: #434242;
}


/*** about ***/
.about {
    width: 33.33%;
    float: left;
    padding: 0 50px;
    box-sizing: border-box;
}

.about h2 {
    margin-bottom: 50px;
    font-weight: normal;
    color: #f28705;
}

.about p {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 25px;
}

.about p span {
    text-decoration: underline;
}


/*** picture ***/
.picture {
    width: 33.33%;
    float: left;
}

.picture img {
    width: 60%;
    margin-top: 100px;
}

.picture p {
    font-weight: bold;
}


/*** detail ***/
.detail {
    width: 33.33%;
    float: left;
    
    padding: 0 50px;
    box-sizing: border-box;
    
    text-align: left;
}

.detail h2 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    color: #f28705;
}

.detail h5 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.detail p {
    padding-left: 30px;
    font-size: 15px;
}


/***** tags *****/
.tags {
    margin-top: 50px;
}

.tags ul {
    margin: 20px;
}

.tags ul li {
    display: inline-block;
    width: 100px;
    
    text-align: center;
    color: #f28705;
}





/************************
        abilities
*************************/
/***** contents *****/
#section2 .contents {
    padding-top: 30px;
    box-sizing: border-box;
    text-align: left;
}

#section2 .contents h2 {
    margin-bottom: 20px;
    color: #f28705;
    font-weight: normal;
}


/*** skills ***/
.skills {
    float: left;
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
}

.skills ul li {
    margin-bottom: 15px;
}

.ability-score {
    float: right;
    margin-right: 30px;
}

.empty {
    color: #dfe0e0;
}

.filled {
    color: #f28705;
}



/*** certified ***/
.certified {
    float: left;
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
}

.certified ul li {
    margin-bottom: 15px;
}

.ability-date {
    float: right;
    margin-right: 30px;
}




/************************
        timeline
*************************/
#section3 {
    background: url(../images/computer_background.jpg) no-repeat;
}

#section3 .title {
    border: 0;
}


#section3 .contents {
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}

.progress {
    width: 2px;
    height: 540px;
    background: #434242;
    
    position: absolute;
    top: 0;
    left: 50%;
}

.month {
    vertical-align: top;
}

.cont {
    display: inline-block;
    width: 450px;
}

/*** left ***/
.left {
    padding-right: 650px;
    box-sizing: border-box;
    text-align: right;
    position: relative;
}

.left h3:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 10;
    top: 6px;
    left: 50%;
    margin-left: -5px;
    
    background: url(../images/point.png) no-repeat;
    background-size: 12px 12px;
}

.left .month {
    float: right;
}

.left .cont {
    margin-right: 10px;
    float: right;
}

.left ul li:after{
    content: "";
    display: block;
    clear: both;
}


/*** right ***/
.right {
    padding-left: 650px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.right h3:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 10;
    top: 6px;
    right: 50%;
    margin-right: -7px;
    
    background: url(../images/point.png) no-repeat;
    background-size: 12px 12px;
}

.right .cont {
    margin-left: 10px;
}


/*** history ***/
.history h3 {
    margin-top: 20px;
    color: #f28705;
}

.history ul li {
    margin-top: 5px;
}

.history ul li span {
    color: #434242;
    font-size: 15px;
    font-weight: 600;
}

.history .month {
    color: #f28705;
    font-weight: 600;
}




/************************
        project
*************************/
#section4 .contents {
    padding: 20px 200px;
    box-sizing: border-box;
}

.project {
    float: left;
    position: relative;
    width: calc(400px - 10px);
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.project:nth-child(2n) {
    margin-right: 0;
}

.project:nth-child(3) {
    margin-bottom: 0;
}

.project img {
    width: 100%;
}

.project:hover .cover {
    display: block;
}

.pro_img {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

/***** cover ******/
.cover {
    display: none;
    width: 100%;
    height: 100%;    
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    
    background: rgba(242, 135, 5, 0.7);
    text-align: left;
    color: white;
}

.cover h2 {
    font-size: 30px;
}

.cover .line {
    width: 320px;
    height: 2px;
    margin: 20px 0;
    background: white;
}

.cover h5 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.cover p span {
    margin-left: 20px;
}



/************************
        contact
*************************/

#section5 .title h1 {
    color: white;
}

#section5 .title p {
    color: #727878;
}

.info {
    padding: 120px 0;
    border-bottom: 1px solid #b2b2b2;
    text-align: center;
}

.info .email {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 200px;
}

.info .phone {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.email img, .phone img {
    display: inline-block;
    width: 30px;
    position: absolute;
    left: 0;
}

.email img {
    top: 5px;
}

.info p {
    color: #b4b3b3;
    margin-left: 50px;
}


.menu {
    margin-top: 100px;
}

.menu li {
    display: inline-block;
    width: 100px;
}

.menu li a {
    color: #b4b3b3;
}

.menu li:after {
    content: "·";
    display: inline-block;
    
    margin-left: 24px;
    color: #b4b3b3;
}

.menu li:last-child:after {
    display: none;
}

.copyright {
    margin-top: 80px;
    color: #b4b3b3;
}











